h1{
    background-color:#0000ff;
    color:#f0f8ff
 }
*{
    border:solid
}

.header{
background-color:#f5dea3;
display: flex;
justify-content:space-between;
}
.games{
    background-color:#fffcfc;
 
}

.footer{
    background: color #faebd7;

    display: flex;
    justify-content: flex-end;
}